<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Alexis G. Woodward</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!--Custom CSS-->
    <link href="~/Content/Custom.css" rel="stylesheet" />

    <!-- =======================================================
      Template Name: Instant
      Template URL: https://templatemag.com/instant-bootstrap-personal-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Alexis G. Woodward</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                    <li>@Html.ActionLink("Classmates", "Classmates", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                    <li>@Html.ActionLink("Contact Me", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>


    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>Alexis G. Woodward</h1>
                    <h4>Web Devleoper, Web Designer, and Game Developer</h4>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>

    <!--Body-->
    <div id="mainContent">@RenderBody()</div>

    <!--Footer-->
    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div id="copyrights">
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year | Alexis G. Woodward | All Rights Reserved
            </p>
            <div class="credits">
                <!--
                    You are NOT allowed to delete the credit link to TemplateMag with free version.
                    You can delete the credit link only if you bought the pro version.
                    Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/instant-bootstrap-personal-template/
                    Licensing information: https://templatemag.com/license/
                -->
                Created with Instant template by <a rel="nofollow" target="_blank" href="https://templatemag.com/">TemplateMag</a>
                Converted to MVC by <a href="http://lexwoodward.com" target="_blank">Alexis G. Woodward</a>
            </div>
        </div>
    </div>
    <!-- / copyrights -->
    <!-- JavaScript Libraries -->
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/php-mail-form/validate.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $('.mainmenu ul li a').each(function () {
            if ($(this).attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });
    </script>
</body>
</html>
